{% extends 'base.html.twig' %}

{% block title %}Alta masiva{% endblock %}


{% block body %}
    <div class="container">
        <div class="register">
            {{ form_start(altamasivaForm, {'attr':{'class':'p-5 contact-form textarea'}}) }}
            <h1 class="navbar-brand">Alta Masiva</h1>
                {{ form_row(altamasivaForm.password, {'attr':{'class':'form-control'}}) }}

                <input type="file" name="csv" class="form-control"  value="csv" id="csv" accept=".csv">
                <button type="submit" class="btn btn-primary py-3 px-5">Registrarse</button>

            {{ form_end(altamasivaForm) }}
        </div>
    </div>
{% endblock %}

{% block footer %}
        {% include 'footer.html.twig' %}
        <script src="{{ asset('estilos/js/altamasivausu.js') }}"></script>
    {% endblock %}

