<!DOCTYPE html>
<html>
    {%include 'head.html.twig' %}

    <body>
        {% block nav %}{% endblock %}
        {% block body %}{% endblock %}
        {% block footer %}{% endblock %}
    </body>
</html>
